{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $pages := partial "pages" . }}
<main tabindex="-1" class="{{ if .Params.numberedHeadings }}numbered-headings{{ end }}">
    <div class="not-sidebar">
        {{ partial "breadcrumb" . }}
        <article class="single {{ .Section | lower }}" id="main">
            <header>
                <h1 id="{{ urlize .Title }}">{{ .Title }}</h1>
                {{ partial "byline" .}}
                {{ if .Params.Tags }}
                <dl class="meta">
                    {{ with .Params.Tags }}
                        <dt>{{ i18n "tags" }}</dt>
                        {{ range . }}
                            <dd><a href='{{ relLangURL "tags" }}/{{ urlize . }}/'>{{ . }}</a></dd>
                        {{ end }}
                    {{ end }}
                </dl>
                {{ end }}
                {{ if .Params.lecture }}
                {{ $lectURL := printf "%s%s" "lectures/" (.Params.lecture) }}
                    <div class="course-lecture-notice">
                        <p>This handout is tied to the following lecture</p>
                        {{ with .GetPage $lectURL }}
                            <a href="{{ .Permalink }}">{{ .Weight }}. {{ .Title }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            </heder>
            <div>
                <a href="{{ .Permalink }}#TableOfContents" class="sr-only sr-only-focusable">{{ i18n "toc" }}</a>

                {{ if .Content }}
                    <div class="content">
                        {{ .Content }}
                    </div>
                {{ end }}
                <a href="{{ .Permalink }}#{{ urlize .Title }}">To top</a>
            </div>
        </article>
    </div>
    <aside class="sidebar">
        <nav>
            <h2>{{ .Site.Title }}</h2>
            {{ partial "menu/recursive-submenu" (.Site.GetPage "") }}
        </nav>
        <section>
            <h2>{{ i18n "toc" }}</h2>
            {{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}
        </section>
    </aside>
</main>
{{ end }}