#Editor files
*.code*

.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
public/
*.lock
resources/*

# Revealjs installation
dist/
plugin/
package-lock.json
package.json
gulpfile.js