#Editor files
*.code*
session.vim

.idea/
*.iml
*.iws
*.eml
./out/
.DS_Store
.svn
log/*.log
tmp/**
./node_modules/
.sass-cache
public/
*.lock
resources/
.mypy_cache

# Revealjs installation
static/revealjs/dist
static/revealjs/plugin
