{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $pages := partial "pages" . }}
<main tabindex="-1" class="{{ if .Params.numberedHeadings }}numbered-headings{{ end }}">
    <div class="not-sidebar">
        {{ partial "breadcrumb" . }}
        <article class="single {{ .Section | lower }}" id="main">
            <header>
                {{ if and .Params.cover .Params.cover.image }}
                    {{- if strings.HasSuffix .Params.cover.image ".svg" -}}
                        {{ readFile (printf "assets/%s" .Params.cover.image) | safeHTML }}
                    {{- else -}}
                        {{ $image := resources.Get .Params.cover.image }}
                        {{ $filters := slice
                            images.AutoOrient
                            (images.Process "fill 750x410 webp Top q90")
                        }}
                        {{ if not $image }}
                            {{ warnf "Cover '%s' for '%s' not found" .Params.cover.image .Title }}
                        {{ else }}
                            {{ $fitted := images.Filter $filters $image }}
                            <img src="{{ $fitted.RelPermalink | safeURL }}" 
                                alt="{{ .Params.cover.alt }}" title="{{ .Params.cover.alt }}">
                        {{ end }}
                    {{ end }}
                {{ end }}
                <h1>{{ .Title }}
                    {{ if .Params.dnr }}
                    <span class="dnr">(<abbr title="Diarienummer">dnr</abbr>: {{ .Params.dnr }})</span>
                    {{ end }}
                    {{ if .IsTranslated }} 
                        {{ range where .Translations "Content" ">" "" }}
                        <a rel="alternate" href="{{ .Permalink }}" lang="{{.Site.Language}}">
                            ({{.Title}})
                        </a>
                        {{ end }}
                    {{ end }}
                </h1>
                {{ partial "byline" .}}
                {{ if or .Params.Category .Params.Tags }}
                <dl class="meta">
                    {{ with .Params.office }}
                        <dt class="office">{{ i18n "office" (len .) }}</dt>
                            {{ range . }}
                            <dd class="office">{{ . }}</dd>
                            {{ end }}                            
                    {{ end }}
                    {{ with index .Site.Taxonomies "category" (urlize .Params.Category ) }}
                        <dt>{{ i18n "category" 1 }}</dt>
                            <dd><a href='{{ .Page.RelPermalink }}'>
                                {{ i18n .Page.LinkTitle }}</a></dd>
                    {{ end }}
                    {{ with .Params.Tags }}
                        <dt>{{ i18n "tags" }}</dt>
                        {{ range . }}
                            <dd><a href='{{ relLangURL "tags" }}/{{ urlize . }}/'>{{ . }}</a></dd>
                        {{ end }}
                    {{ end }}                
                    {{ $personal := where $pages "Section" "personalkatalog" }}
                    {{ $mentions := where $personal "Title" "in" .Params.staff }}
                    {{ with $mentions }}
                        <dt>{{ i18n "mention" }}</dt>
                        {{ range . }}
                            <dd><a href='{{ .Permalink }}'>{{ .Title }}</a></dd>
                        {{ end }}
                    {{ end }}
                </dl>
                {{ end }}
            </header>
            <div>
                {{ $headers := strings.Count "li" .TableOfContents }}
                {{ $longEnough := gt .WordCount 400 }}
                {{ $hasHeaders := gt $headers 0 }}
                {{ $showTOC := or .Params.numberedHeadings (and $hasHeaders $longEnough) }}
                {{ if $showTOC }}
                <a href="{{ .Permalink }}#TableOfContents" class="sr-only sr-only-focusable">{{ i18n "toc" }}</a>
                {{ end }}
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </article>
    </div>
    <aside class="sidebar">
        {{ if $showTOC }}
        <section>
            <h2>{{ i18n "toc" }}</h2>
            {{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}
        </section>
        {{ end }}
        
        {{ if or .Pages .Sections }}
        <nav>
            <h2>{{ i18n "subpages" }}</h2>
            {{ partial "menu/recursive-submenu" . }}
        </nav>
        {{ end }}

        {{ $related := .Site.RegularPages.Related . | first 10 }}
        {{ $verktyg := where $related "Section" "=" "verktyg" }}
        {{ $siblings := collections.Complement (slice .) .CurrentSection.Pages | first 10 }}
        {{ $verktygLanding := slice (.Site.GetPage "verktyg") }}
        {{ $nonVerktyg := collections.Complement $verktyg $verktygLanding (union $related $siblings) }}
        
        {{ with $nonVerktyg }}
            <section>
                <h2>{{ i18n "seeAlso" }}</h2>
                <ul>
                {{ range . }}
                    {{ with partial "prefer-page-translation" . }}
                        {{ .Render "li" }}
                    {{ end }}
                {{ end }}
                </ul>
            </section>            
        {{ end }}
        {{ with $verktyg }}
        <nav class="tools">
            <ul>
                {{ range . }}
                    {{ .Render "li" }}
                {{ end }}
            </ul>
        </nav>
        {{ end }}
    </aside>
</main>
{{ end }}