<nav class="desktop presentation">
    <ul>
        <li>
            <a href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
            </a>
        </li>
        {{ range .Site.Menus.main }}
        {{ $mergeSections := .Params.sections }}
            {{ with $.Site.GetPage .Name }}
            <li>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
                <ul class="sub-menu">
                    {{ $otherSections := slice }}
                    {{ range $mergeSections  }}
                        {{ $section := $.Site.GetPage . }}
                        {{ $otherSections = collections.Append $section $otherSections }}
                    {{ end }}
                    {{ $items := union (union .Pages .Sections) $otherSections }}
                    {{ $byWeight := sort $items "Weight" "asc" }}
                    {{ $numberedHeadings := .Params.numberedHeadings }}
                    {{ range $byWeight }}
                        <li lang="{{ .Language }}">
                            <a href="{{ .Permalink }}">
                                {{ if $numberedHeadings }}
                                    {{ .Weight }}. 
                                {{ end }}
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>