<ul class="sub-menu">
    {{ $items := union .Pages .Sections }}
    {{ $items = sort $items "Weight" "asc" }}

    {{ $numberedHeadings := .Params.numberedHeadings }}
    {{ range $items }}
        <li lang="{{ .Language }}">
            <a href="{{ .Permalink }}">
                {{ if $numberedHeadings }}
                    {{ .Weight }}. 
                {{ end }}
                {{ .Title }}
            </a>
            {{ if or .Pages .Sections }}
                {{ partial "menu/recursive-submenu" . }}
            {{ end }}
        </li>
    {{ end }}
</ul>
