{{/* Pick the current language if it has content (assumption of translated) available, */}}
{{/* otherwise the first translation. This allows all content to be shown even if they are missing translations. */}}
{{ $page := . }}
{{ if .IsTranslated}}
    {{ $translation := index .Translations 0 }}
    {{ if or (not .Title) (not .Content) $translation.Content }}
        {{ if and (not .Content) $translation.Content }}
            {{ $page = $translation }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $page }}
